<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060824201583-nao56pmb1tva7euhmdrnr6f8je9uk6ep.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060824201583-nao56pmb1tva7euhmdrnr6f8je9uk6ep</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1060824201583-b4r7cdk7g8gane8fu0d929t39haeah2a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBT9Brfcx86tq6W_6xVyk1Yvq-RU4nd5oM</string>
	<key>GCM_SENDER_ID</key>
	<string>1060824201583</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.groupone.etour</string>
	<key>PROJECT_ID</key>
	<string>e-tour-387007</string>
	<key>STORAGE_BUCKET</key>
	<string>e-tour-387007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060824201583:ios:6e211b008aec4b2bd6509a</string>
</dict>
</plist>